<div style="height: 150px;"></div>
<mat-card class="center">
  <mat-card-header>
    <mat-card-title class="text-center">
      Reset Password
    </mat-card-title>
    <mat-card-subtitle>
      <p style="text-align: justify;">Please enter your email address to request a password reset.</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="text-center">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. pat@example.com" #passwordResetEmail required>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" value="Reset Password"
        (click)="authService.ForgotPassword(passwordResetEmail.value)"> Reset Password</button>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <span>Go back to ? <a class="redirect" routerLink="/sign-in">Log In</a></span>
  </mat-card-actions>
</mat-card>
