<mat-card class="container main">

  <div class="row">
    <div class="col-6"> <input type="file" name="photo" (change)="uploadFile($event)"></div>
    <div class="col-4">
      <div>{{ uploadPercent | async }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bs-linebreak">
    </div>
  </div>

  <div class="row">
    <div class="col-8 border-0">
      <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
    </div>
    <div class="col-4">
      <button mat-raised-button color="Accent" (click)="copyMessage()">Copy</button>
      <!-- <button  -->
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 bs-linebreak">
    </div>
  </div>

  <div class="mx-auto">
    <div class="row">
      <p class="mx-3">
        <mat-form-field appearance="outline">
          <mat-label class="px-3">AD 1</mat-label>
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input matInput placeholder="Special Key" class="pl-3" [(ngModel)]="ads[0].key">
          <button mat-button *ngIf="ads[0].key" matSuffix mat-icon-button aria-label="Clear" (click)="ads[0].key=''">
            <mat-icon matSuffix>close</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p class="mx-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="px-3">Image</mat-label>
          <input matInput placeholder="URL" [(ngModel)]="ads[0].value">
          <mat-icon matPrefix>image</mat-icon>
          <button mat-button *ngIf="ads[0].value" matSuffix mat-icon-button aria-label="Clear"
            (click)="ads[0].value=''">
            <mat-icon matSuffix>close</mat-icon>
          </button>
        </mat-form-field>
      </p>

    </div>
    <div class="row">
      <p class="mx-3">
        <mat-form-field appearance="outline">
          <mat-label class="px-3">AD 2</mat-label>
          <input matInput placeholder="Special Key" class="pl-3" [(ngModel)]="ads[1].key">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <button mat-button *ngIf="ads[1].key" matSuffix mat-icon-button aria-label="Clear" (click)="ads[1].key=''">
            <mat-icon matSuffix>close</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p class="mx-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="px-3">Image</mat-label>
          <input matInput placeholder="URL" [(ngModel)]="ads[1].value">
          <mat-icon matPrefix>image</mat-icon>
          <button mat-button *ngIf="ads[1].value" matSuffix mat-icon-button aria-label="Clear"
            (click)="ads[1].value=''">
            <mat-icon matSuffix>close</mat-icon>
          </button>
        </mat-form-field>
      </p>

      <!-- <label text="AD 2"></label> -->
    </div>
    <div class="row">
      <p class="mx-3">
        <mat-form-field appearance="outline">
          <mat-label class="px-3">AD 3</mat-label>
          <input matInput placeholder="Special Key" class="pl-3" [(ngModel)]="ads[2].key">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <button mat-button *ngIf="ads[2].key" matSuffix mat-icon-button aria-label="Clear" (click)="ads[2].key=''">
            <mat-icon matSuffix>close</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p class="mx-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="px-3">Image</mat-label>
          <input matInput placeholder="URL" [(ngModel)]="ads[2].value">
          <mat-icon matPrefix>image</mat-icon>
          <button mat-button *ngIf="ads[2].value" matSuffix mat-icon-button aria-label="Clear"
            (click)="ads[2].value=''">
            <mat-icon matSuffix>close</mat-icon>
          </button>
        </mat-form-field>
      </p>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="modifyAd()">Update</button>
</mat-card>
<hr>
<app-coupon></app-coupon>
