<mat-card>
<form [formGroup]="form" novalidate>
    <!-- Name -->
    <div class="row">
      <mat-form-field style="overflow: hidden; padding-right: .5em;width: 50%">
        <input matInput placeholder="Product Name" formControlName="ProductName" style="width: 100%" required>
        <mat-error *ngIf="!form.controls['ProductName'].valid">{{getErrorMessage('ProductName')}}</mat-error>
      </mat-form-field>
      <mat-form-field style="overflow: hidden; padding-right: .5em;width: 50%">
        <input matInput placeholder="Product Local Name" formControlName="ProductLocalName" style="width: 100%">
        <mat-error *ngIf="!form.controls['ProductLocalName'].valid">{{getErrorMessage('ProductName')}}</mat-error>
      </mat-form-field>
    </div>

    <!-- //Discriptions -->

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Product Description" formControlName="ProductDescription"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Product Detail" formControlName="ProductDetail"></textarea>
    </mat-form-field>

    <!-- Brand -->
    <div class="row">
      <div class="cell">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Product Brand/Author/Owner" formControlName="ProductOwner">

        </mat-form-field>
      </div>
    </div>


    <!-- Category -->
    <div class="row">
      <div class="cell">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Category" formControlName="Category">
        </mat-form-field>
      </div>
      <div class="cell">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Sub Category" formControlName="SubCategory">
        </mat-form-field>
      </div>
    </div>
    <!-- Key -->
    <div>
      <mat-form-field class="example-full-width">
        <mat-chip-list #chipList aria-label="Category selection">
          <mat-chip [selectable]="selectable" [removable]="removable" (removed)="remove(keys)" *ngFor="let cat of keys">
            {{cat}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Key Words" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>

  </form>
<!-- Dynamic window -->
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-select formControlName="numberOfVariants" (selectionChange)="onChangeVariants($event)"
      [ngClass]="{ 'is-invalid': submitted && f.numberOfVariants.errors }">
      <mat-option *ngFor="let i of [2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card *ngFor="let variant of t.controls; let i = index" class="list-group list-group-flush">
      <h5 class="card-title">Variant {{i + 1}}</h5>
    <div [formGroup]="variant" class="form-row">
      
      <!-- price -->
      <div class="row example-full-width">
        <div class="cell">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Product MRP" type="number" formControlName="ProductMRP" required>
            <span matPrefix>₹&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>
        <div class="cell">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ProductPrice" formControlName="ProductPrice" type="number" required>
            <span matPrefix>₹&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field style="overflow: hidden; padding-right: .5em;width: 50%">
        <input matInput placeholder="Quantiy" formControlName="quantity" style="width: 100%" required>
        <mat-error *ngIf="!form.controls['ProductName'].valid">{{getErrorMessage('ProductName')}}</mat-error>
      </mat-form-field>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        formControlName="metric">
        <mat-radio-button class="example-radio-button" *ngFor="let metric of metoptions" [value]="metric">
          {{metric}}
        </mat-radio-button>
      </mat-radio-group>

<!-- Window -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Stock availavle" formControlName="availStock">
      </mat-form-field>
      
      <mat-slide-toggle formControlName="imaageAvil">Image available</mat-slide-toggle>

      <div class="row" *ngIf="variant.get('imaageAvil').value">
        <div class="cell"> <input type="file" name="photo" (change)="onFileSelect($event)" multiple></div>
        <div class="cell"> <button type="button" mat-raised-button (click)="Uploader()">Upload an Image</button></div>
      
      </div>

    </div>




  </mat-card>
    

</form>
    <!-- <div class="row">
      <button type="submit" mat-raised-button (click)="addProduct(form.value)">Submit</button>
    </div> -->
    <div class="card-footer text-center">
      <button mat-raised-button (click)="log()">Buy Variants</button>
      <button mat-raised-button type="reset" (click)="onReset()">Reset</button>
      <button mat-raised-button type="button" (click)="onClear()">Clear</button>
    </div>


</mat-card>

