.whiteFont{
   color:rgb(255, 255, 255);
}

.example-container {
   margin-top: 40px;
   min-height: 540px;
   background-color: rgba(0, 0, 255, 0.3);
}

/* .marginTop{
   margin-top: 28px;
   margin-right: auto;
   margin-left: auto;
} */

.outer {
   width: 100%;
   text-align: center;
 }
 
 .inner {
   margin-top: 28px;
   display: inline-block;
 }