.whiteFont{
   color:rgb(255, 255, 255);
}

.example-container {
   margin-top: 62px;
   min-height: 540px;
   background-color: rgba(255, 0, 0, 0.3);
}

/* .marginTop{
   margin-top: 28px;
   margin-right: auto;
   margin-left: auto;
} */

.outer {
   width: 100%;
   text-align: center;
 }

 .inner {
   margin-top: 50px;
   display: inline-block;
   /* word-wrap:break-word; */
   width: 100%;
 }

 .mat-button-toggle-group {
  width: 100%;
 }



 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-top: 50px;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #ff0000;
}
