<!-- Top navigation -->
<mat-card>Simple card</mat-card>


<div class="whiteFont" style="padding-top: 10px;" *ngIf="authService.userData as user">

      <!-- <img src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
        alt="{{user.displayName}}"> -->

        <!-- <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1> -->
        <p>User ID: <strong>{{user.uid}}</strong>Email: <strong>{{user.email}}</strong>Email Verified: <strong>{{user.emailVerified}}</strong></p>
      
</div>
<mat-grid-list *ngIf="isDesktopvar" cols="2" >
  <mat-grid-tile>
    <app-product-list></app-product-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-add-product></app-add-product>
  </mat-grid-tile>
</mat-grid-list>
<app-add-product *ngIf="isMobilevar"></app-add-product>



