.whiteFont{
   color:rgb(255, 255, 255);
}

.example-container {
   margin-top: 40px;
   min-height: 540px;
   background-color: rgba(0, 0, 255, 0.3);
}

.marginTop{
   margin-top: 28px;
   margin-bottom: 1px;
   margin-right: auto;
}