<mat-card>
  <form [formGroup]="form" novalidate>
    <!-- Name -->
    <div class="row">
      <mat-form-field style="overflow: hidden; padding-right: .5em;width: 50%">
        <input matInput (keyup.enter)="getTransalation()" placeholder="Product Name" formControlName="ProductName"
          style="width: 100%" required>
        <mat-error *ngIf="!form.controls['ProductName'].valid">{{getErrorMessage('ProductName', 0)}}</mat-error>
      </mat-form-field>
      <mat-form-field style="overflow: hidden; padding-right: .5em;width: 50%">
        <input matInput placeholder="Product Local Name" formControlName="ProductLocalName" style="width: 100%">
        <!-- <mat-error *ngIf="!form.controls['ProductLocalName'].valid">{{getErrorMessage('ProductName')}}</mat-error> -->
      </mat-form-field>
    </div>

    <!-- //Discriptions -->

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Product Description" formControlName="ProductDescription"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Product Detail" formControlName="ProductDetail"></textarea>
    </mat-form-field>

    <!-- Brand -->
    <div class="row">
      <div class="cell">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Product Brand/Owner" formControlName="ProductOwner" required>
          <mat-error *ngIf="!form.controls['ProductOwner'].valid">{{getErrorMessage('ProductOwner', 0)}}</mat-error>
        </mat-form-field>
      </div>
    </div>


    <!-- Category -->
    <div class="row">
      <div class="cell">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Category" formControlName="Category" required>
          <mat-error *ngIf="!form.controls['Category'].valid">{{getErrorMessage('Category', 0)}}</mat-error>
        </mat-form-field>
      </div>
      <div class="cell">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Sub Category" formControlName="SubCategory" required>
          <mat-error *ngIf="!form.controls['SubCategory'].valid">{{getErrorMessage('SubCategory', 0)}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Key -->
    <div>
      <mat-form-field class="example-full-width">
        <mat-chip-list #chipList aria-label="Category selection">
          <mat-chip [selectable]="selectable" [removable]="removable" (removed)="remove(cat)" *ngFor="let cat of keys">
            {{cat}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Key Words" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>

  </form>
  <!-- Dynamic window -->
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-select placeholder="No. of Variant" formControlName="numberOfVariants"
        (selectionChange)="onChangeVariants($event)"
        [ngClass]="{ 'is-invalid': submitted && f.numberOfVariants.errors }" [value]>
        <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card *ngFor="let variant of t.controls; let i = index" class="list-group list-group-flush">

      <div [formGroup]="variant" class="form-row">
        <mat-label class="card-title">Variant {{i + 1}}</mat-label>
        <!-- price -->
        <div class="row example-full-width">
          <div class="cell">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Product MRP" type="number" formControlName="ProductMRP" required>
              <span matPrefix>₹&nbsp;</span>
              <span matSuffix>.00</span>
              <mat-error *ngIf="!t.controls[i].get('ProductMRP').valid"> {{getErrorMessage('ProductMRP', i)}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="cell">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ProductPrice" formControlName="ProductPrice" type="number" required>
              <span matPrefix>₹&nbsp;</span>
              <span matSuffix>.00</span>
              <mat-error *ngIf="!t.controls[i].get('ProductPrice').valid"> {{getErrorMessage('ProductPrice', i)}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field style="overflow: hidden; padding-right: .5em;width: 50%">
          <input matInput placeholder="Quantiy" formControlName="quantity" style="width: 100%" required>
          <mat-error *ngIf="!t.controls[i].get('quantity').valid"> {{getErrorMessage('quantity', i)}} </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Choose an option</mat-label>
          <mat-select formControlName="metric">
            <mat-option *ngFor="let metric of metoptions" [value]="metric">{{metric}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Window -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Stock available" formControlName="availStock">
        </mat-form-field>

        <mat-slide-toggle formControlName="imageAvl">Image available</mat-slide-toggle>
        <div class="row" *ngIf="variant.get('imageAvl').value">
          <div class="row">
            <div class="cell"> <input type="file" name="photo" (change)="onFileSelect($event,variant)" multiple></div>
            <div class="cell"> <button type="button" mat-raised-button (click)="Uploader(variant)">Upload an
                Image</button></div>
          </div>
          <div class="example-full-width">
            <table>
              <tr *ngFor="let images of map.get(this.t.controls.indexOf(variant))" class="example-full-width">
                <th style="width:50%;">
                  <img [src]="images.file" class="img-thumbnail thumbImage">
                </th>
                <td style="width:45%">
                  <label>{{images.fileData.name}}</label>
                  <mat-progress-bar mode="determinate" [value]="images.Progress"></mat-progress-bar>
                </td>
                <td style="width: auto">
                  <button type="button" class="close" aria-label="Close" (click)="removeImage(images,variant)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-card>

  </form>
  <div class="card-footer text-center">
    <button mat-raised-button type="button" (click)="onClear()">Clear</button>
    <button mat-raised-button (click)="onSubmit()">Update</button>
  </div>
</mat-card>
