<div class="login-wrapper"  fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box" >
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" #userName>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" #userPassword>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="authService.SignIn(userName.value, userPassword.value)" >Log in</button>
    </form>
    <s>
      <button type="button"  (click)="authService.GoogleAuth()">
        Log in with Google
      </button>
      <div>
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
      <div>
        <span>Don't have an account?<span routerLink="/register-user"> Sign Up</span></span>
      </div>
    </s>
  

  </mat-card>

</div>

<!-- 
<div class="displayTable">
    <div class="displayTableCell">
  
      
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
  
      
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
        
  </div> -->
  