<div class="login-wrapper centerIt" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" #userName>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" #userPassword>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block"
        (click)="signinCheck(userName.value, userPassword.value)">Log in</button>
      <div>
        <div style="text-align: center;">
          <a mat-button (click)="authService.GoogleAuth()" target="_blank">
            <small>Log in with Google</small>
          </a>

          <a mat-button routerLink="/forgot-password">
            <small>Forgot Password?</small>
          </a>
          <p><small>Don't have an account?</small>
            <a mat-button target="_blank" routerLink="/register-user">
              <small>Sign Up</small>
            </a>
          </p>
        </div>
      </div>
    </form>
  </mat-card>
</div>
