.mat-stepper-horizontal {
    margin-top: 8px;
  }
  b{
    font-weight: 500;
  }
  .mat-form-field {
    margin-top: 16px;
  }

  .row{
    width: 100%;
    margin: 0 auto;     
  }
  .cell{
    width: 50%;
    padding: 0 5px; 
    display: table-cell;
  }
  .cell3{
    width: 33%;
    padding: 0 5px; 
    display: table-cell;
  }